<%= form_tag("/users_parameters", method: 'POST') do %>

  <p><%= @parameters[0].name %></p> primary: <select name='users_parameters[<%=@parameters[0].id%>]' value='nil'>
                  <option value="nil"></option>
                    <option value="@funky">funky</option>
                    <option value="@sweet">sweet</option>
                    <option value="@sour">sour</option>
                    <option value="@salty">salty</option>
                    <option value="@bitter">bitter</option>
                    <option value="@savory">savory</option>
                </select>
                 secondary: <select name='users_parameters[<%=@parameters[0].id%>]' value='nil'>
                  <option value="nil"></option>
                    <option value="@funky">funky</option>
                    <option value="@sweet">sweet</option>
                    <option value="@sour">sour</option>
                    <option value="@salty">salty</option>
                    <option value="@bitter">bitter</option>
                    <option value="@savory">savory</option>
                </select><br>


  <br>
  <br>
  <input class='button' type='submit' value='submit'/>
  <% end %>