/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$orange: #FF9F3D;
$blue: #0c65af;

body {
  margin: 0 1em;
  color: black;
  background-color: white;

}
p {
  margin: 1em auto;
  font-size: 1.25em;
  text-align: justify;
}
h1 {
  color: #eee;
  font-family: 'Neuton', serif;
  font-size: 5em;
  font-weight: 700;
}
h2 {
  color: $orange;
  font-family: 'Neuton', serif;
  font-size: 5em;
  font-weight: 700;
}
h3 {
  font-family: 'Neuton', serif;
  font-size: 3em;
  font-weight: 700;
  margin: 5px;
}
h1 em {
  color: $orange;
  font-weight: 800;
  text-decoration: underline;
}
h4 {
  display: inline-block;
  font-size: 3em;
  font-family: 'Times', serif;
  background-color: $blue;
  color: white;
  font-weight: 700;
  font-size: 2em;
  margin: 0;
}
h5 {
  display: block;
  font-family: Times, serif;
  color: $blue;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
p em {
  font-size: 1.25em;
  color: $orange;
  font-weight: 700; 
}
form.new-thing {
  text-align: center;
}
select {
  margin: 5px;
}
input.button {
  margin: 0 auto;
  font-family: 'Neuton', serif;
  width: 100px;
  border: 0;
  background-color: $orange;
  color: white;
  font-size: 2em;
  font-weight: 700;
}

#header {
  width: 600px;
  margin: 2em auto 0 auto;
  padding: 10px;
  background-color: $blue;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .nav-list {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    .nav-button {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 auto;
      // height: 83px;
      // line-height: 83px;
      // padding: 4px 0;
      width: (500px/6);
      font-family: Times, serif;
      font-size: 1.5em;
      font-weight: 600;
      color: white;
      border: 2px solid $blue;
      background-color: $blue;
      border-radius: 5px;
      a {
        color: white;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
        a:visited {
          color: white;
        }
    }
  }
}
#container {
  width: 600px;
  border: 2px solid $blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Neuton', serif;
  font-size: 1em;
  padding: 10px;
  margin: 0 auto 10px auto;
  table {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 5px 0 0;
    vertical-align: top;
    tbody {
      display: block;
      width: 100%;
    th {
      text-align: center;
      overflow-y: hidden;
      height: 38px;
      padding: 2px 2px 0 2px;
      vertical-align: top;

      h5.user-name {
        box-sizing: border-box;
        display: block;
        width: (132 * 2)px;
        margin: 10px auto 25px auto;
        padding-left: 10px;
        font-size: 4em;
      }
    }
    td {
      overflow-y: hidden;
      height: 38px;
      padding: 2px 2px 0 2px;
      vertical-align: top;
      p {
        display: block;
        width: 132px;
        text-align: left;
        padding-left: 10px;
        margin: 0;
        font-family: Times, serif;
        font-weight: 500;
        color: black;
      }
      h5 {
        box-sizing: border-box;
        display: block;
        width: 132px;
        padding-left: 10px;
      }
    }
  }
}
  div.story {
    display: block;
    width: 576px;
    
    margin: 10px 0 0 0;
    border: 2px solid $blue;
    border-radius: 10px;
    .story-nav {
      width: 100%;
      margin: 5px 0 10px 0;
      text-align: center;
    }
    .story-link {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 1px;
      padding: 1px 0;
      width: 184px;
      font-family: Times, serif;
      font-size: 1.5em;
      font-weight: 600;
      color: #111;
      border: 2px solid $blue;
      background-color: $blue;
      border-radius: 5px;
      a {
        color: white;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
      a:visited {
        color: white;
      }
    }  
    p {
      margin: 5px 10px 10px 10px;
      font-size: 1.25em;
      font-family: Times, serif;
      font-weight: 575;
      color: black;
    }
  }
}

#index-left-container {
  display: block;
  padding: 2px 0;
  width: 283px;
  height: 312px;
  float: left;
  margin-right: 10px;
  border: 2px solid $blue;
  border-radius: 10px;
  h2 {
    text-align: center;
    font-size: 7em;
    margin: -5px 0 0 0;
  }
  .nav-list {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0 5px 0 5px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    .nav-button {
      box-sizing: border-box;
      display: block;
      margin: 7px auto;
      // height: 83px;
      // line-height: 83px;
      padding: 4px 0;
      width: 100%;
      font-family: Times, serif;
      font-size: 2.5em;
      font-weight: 600;
      color: white;
      border: 2px solid $blue;
      background-color: $blue;
      border-radius: 5px;
      a {
        color: white;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
        a:visited {
          color: white;
        }
    }
  }
}
#index-right-container {
  float: left;
  display: block;
  width: 283px;
  height: 312px;
  border: 2px solid $orange;
  border-radius: 10px;
  .info-nav {
    width: 100%;
    margin: 7px 0 5px 0;
    text-align: center;
    .info-link {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 1px 5px 1px;
      padding: 1px 0;
      width: 132px;
      font-family: Times, serif;
      font-size: 1.5em;
      font-weight: 600;
      color: white;
      border: 2px solid $blue;
      background-color: $blue;
      border-radius: 5px;
      a {
        color: white;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
        a:visited {
          color: white;
        }
    }
  }
}


#front {
  width: 400px;
  font-family: 'Neuton', serif;
  font-size: 1em;
  padding: 1em;
  margin: 2em auto 1em auto;
  p {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
#chart-container {
  display: block;
  width: 283px;
  float: left;
  margin-right: 10px;
  border: 2px solid $orange;
  border-radius: 10px;
  .chart-nav {
    width: 100%;
    margin: 5px 0;
    text-align: center;
    .chart-link {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 1px;
      padding: 1px 0;
      width: 132px;
      font-family: Times, serif;
      font-size: 1.5em;
      font-weight: 600;
      color: white;
      border: 2px solid $orange;
      background-color: $orange;
      border-radius: 5px;
      a {
        color: white;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
        a:visited {
          color: white;
        }
    }
  }
}
#info {
  float: left;
  display: block;
  width: 283px;
  height: 312px;
  border: 2px solid $blue;
  border-radius: 10px;
  .info-nav {
    width: 100%;
    margin: 7px 0 5px 0;
    text-align: center;
    .info-link {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 1px 5px 1px;
      padding: 1px 0;
      width: 132px;
      font-family: Times, serif;
      font-size: 1.5em;
      font-weight: 600;
      color: white;
      border: 2px solid $blue;
      background-color: $blue;
      border-radius: 5px;
      a {
        color: white;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
        a:visited {
          color: white;
        }
    }
  }
}
#front ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li.sign-in {
    float: left;
    text-align: center;
    display: inline;
    box-sizing: border-box;
    margin: 0 0.5em 0 0;
    a {
      padding: 0.5em;
      font-size: 1.5em;
      display: inline-block;
      width: 183.5px;
      background-color: $orange;
      color: white;
      font-weight: 700;
      text-decoration: none;
    }
  }
  li.sign-out {
    float: right;
    text-align: center;
    display: inline;
    box-sizing: border-box;
    margin: 0 0 0 0.5em;
    a {
      padding: 0.5em;
      font-size: 1.5em;
      display: inline-block;
      width: 183.5px;
      background-color: $orange;
      color: white;
      font-weight: 700;
      text-decoration: none;
    }
  }

  li.item {
    display: block;
    margin: 0.5em 10px;
    text-align: justify;
    a {
    padding: 0.5em;
    font-size: 1.5em;
    display: inline-block;
    width: 183.5px;
    background-color: $orange;
    color: white;
    font-weight: 700;
    text-decoration: none;
    }
  }
}
input {
  margin: 0 0 10px 0;
}

#user_email, #user_password {
  width: 50%
}