<% if !current_user %>
<div id='front' class='clear'>
  <h1>ol<em>factor</em>y</h1>
  <p class='front-text'>At its heart, great food is a social experience- especially when it comes to cheese. Behind every wheel is a whole community of people working together- from the farmers milking the animals to the cheesemongers sampling and selling to you. And chances are you aren't eating that delicious cheese by yourself- it's meant to be shared, savored, and discussed!</p>
  <p class='front-text'>Every person in the chain- from the farmer all the way down to the person eating the finished product- has an effect on a cheese's existence. The olfactory and gustatory senses are heavily influenced by the power of suggestion. If you ask two cheesemongers to analyze the same cheese, you're going to get two different answers, and they're both right! Each person's opinion is a <em>factor</em> influencing the tasting experience.</p>
  <ul class='clear'>
    <li class='sign-in'><a href='/users/sign_in'>sign in</a></li>
    <li class='sign-out'><a href='/users/sign_up'>sign up</a></li>
  </ul>
</div>
<% end %>

